<!DOCTYPE html>
<html lang="<$= locale $>">
<head>
  <title>Senior Citizens Connect</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="og:title" content="IBM Watson Personality Insights">
  <meta name="og:description" content="Gain insight into how and why people think, act, and feel the way they do. This service applies linguistic analytics and personality theory to infer attributes from a person's unstructured text.">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
  <link rel="icon" href="/images/Senior Citizens Connect Logo.svg" type="image/png">
  <link rel="stylesheet" href="css/style.css">
</head>

<style>
banner--service-links {text-align: center; margin: 75px 25px 55px 55px}
</style>

<body>
  <!-- top level heading -->
  <header class="_demo--heading">
    <div class="_demo--container">
      <a class="wordmark" href="https://seniorcitizensconnect.net">
        <span class="wordmark--left">Senior</span>
        <span class="wordmark--right"> Citizens Connect</span>
      </a>
    </div>
  </header>
  <div class="_demo--banner">
    <div class="_demo--container">
      <div class="banner--service-icon-container">
        <img class="banner--service-icon" src="images/Copy of Senior Citizens Connect Logo.svg" alt="Personality Insights API Icon" style="width:149px;height:130px;">
      </div>
      <div class="banner--service-info">
        <h1 class="banner--service-title base--h1">
          <img class="banner--service-icon_INLINE" src="images/service-icon.svg" alt="Personality Insights API Icon"> SeniorCitizensConnect
        </h1>

        <div class="banner--service-description">
          Our main goal is to connect senior citizens with students from all grades.  We can take advantage of this situation to establish a stronger connection and understanding between generations. By using this program, you can be matched with a pen pal based on your own personality!
          </div>
        </div>
        <div class="banner--service-resource">
        </div>
        <div class="banner--service-links">
            <li class="base--li banner--service-link-item">
              <a href="https://innovation.svvsd.org/" class="base--a">St. Vrain Valley Innovation Center</a>
              
            </li>
            <li class="base--li banner--service-link-item">
              <a href="https://www.silvercreekleadership.academy/" class="base--a">Silver Creek Leadership Academy</a>
              
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
