<$ include partials/header $>
<script>
	function download(content, fileName, contentType) {
		  const a = document.createElement("a");
		  const file = new Blob([content], { type: contentType });
		  a.href = URL.createObjectURL(file);
		  a.download = fileName;
		  a.click();
	}

	function onDownload(){
		//download(JSON.stringify(profile), "profile.json", "text/plain");
		download(JSON.stringify(profile, null, 2), "profile.json", "text/plain");
	}
</script>

<script>
	function upload(userID, ageGroup, location, profile) {
		$.ajax({
     		type: 'POST',
     		dataType: 'json',
     		data: JSON.stringify({userID, ageGroup, location, profile}),  
     		contentType: 'application/json',
     		url: '/upload',
			success: function (response) {
  			//	$parents.html(response).fadeIn();
  				//console.log("at upload again")
  				if(response.result == 'redirect') {
  					//console.log("at upload redirect")
  					window.location.replace("http://www.ibm.com");
  					//location.replace("http://localhost:3000/results");
  				}
			}
		});
		//console.log("after $ajax call");
		
		//window.location.replace("https://ic-call4code.mybluemix.net/");
		window.location.replace("/results");
	}	

	function onUpload(){
		var ages = document.getElementsByName('age');
		var ts = Math.round((new Date()).getTime() / 1000);
		//alert(ts);
		for (var i = 0, length = ages.length; i < length; i++) {
  			if (ages[i].checked) {
    			// do whatever you want with the checked radio
    			//alert(ages[i].value);
    			var ageGroup = ages[i].value
    			console.log(ageGroup)
    			// only one radio can be logically checked, don't check the rest
    			break;
  			}
		}
		var locs = document.getElementsByName('location');
		for (var i = 0, length = locs.length; i < length; i++) {
  			if (locs[i].checked) {
    			// do whatever you want with the checked radio
    			//alert(locs[i].value);
    			var location = locs[i].value
    			console.log(location)
    			// only one radio can be logically checked, don't check the rest
    			break;
  			}
		}
		var userID = ts + "-" + ages[i].value + "-" + locs[i].value
		alert("****** Please write this reference ID down *******\n\n" + userID)
 		//upload(userID, JSON.stringify(profile) );
 		upload(userID, ageGroup, location, profile );
		
	}
</script>

  <div class="_demo--container">
    <div class="_content input">
      <h2 class="base--h2">
        <$= __("save-title") $>
      </h2>
     
    	<br>
        
  		<p>
  		<label for="age">Select: </label></br>
  		<div>
  			<input type="radio" id="adult" name="age" value="adult" checked>
  			<label for="adult">Adult</label>
		</div>
		<div>
  			<input type="radio" id="student" name="age" value="student">
  			<label for="student">Student</label>
		</div>
   	   </p>
   	   
   	   <p>
		<label for="age">Select location: </label><br>
		<select id = "location">
		  <option type="radio" id="center_1" name='location' value="location">Silver Creek HS</option>
		  <option value = "NW">Niwot HS</option>
		  <option value = "LM">Longmont HS</option>
		  <option value = "SK">Skyline HS</option>
		</select>
  		<div> 
  			<input type="radio" id="center_1" name="location" value="center_1" checked>
  			<label for="center_1">Adult Center 1</label>
		</div>
		<div>
  			<input type="radio" id="HS_1" name="location" value="HS_1">
  			<label for="HS_1">High School 1</label>
		</div> 
   	   </p>
    
    
         
		 <button onclick='onUpload()'> Upload profile to DB </button>
      <br>
       
       <br>
      
      <p class="base--p">
        <a class="base--a" href='/'>
           &lt; <$= __("save-back") $>
        </a>
      </p>
    </div>
  </div>

  
 <script>
    var profile = <$- save.profile $>;
    var t = document.getElementById('profileResults');
    t.value = JSON.stringify( profile ,null, 2);
    t.style.backgroundColor = 'lightgray';
  </script>
 
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/5.0.2/markdown-it.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>

  <script type="text/javascript" src="js/vendors/q.js"></script>
  <script type="text/javascript" src="js/components/q_util.js"></script>
  <script type="text/javascript" src="js/components/tab-panels.js"></script>

  <script type="text/javascript" src="vendor/personality-text-summary/dist/index.js"></script>
  <script type="text/javascript" src="vendor/personality-trait-info/dist/index.js"></script>
  <script type="text/javascript" src="vendor/personality-trait-descriptions/dist/index.js"></script>
  <script type="text/javascript" src="vendor/personality-trait-names/dist/index.js"></script>
  <script type="text/javascript" src="vendor/personality-consumption-preferences/dist/index.js"></script>
  <script type="text/javascript" src="js/sunburst.js"></script>
  <script type="text/javascript" src="js/save.js"></script>

  <script type="text/javascript" src="js/demo.js"></script>
  <script type="text/javascript" src="js/consumption-preferences-likely-sort.js"></script>
  <script type="text/javascript" src="js/consumption-preferences-unlikely-sort.js"></script>
  
  
</body>
</html>
