<!DOCTYPE html>
<html lang="<$= locale $>">
<head>
  <title><$= __("page-title-pi") $></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="og:title" content="IBM Watson Personality Insights">
  <meta name="og:description" content="Gain insight into how and why people think, act, and feel the way they do. This service applies linguistic analytics and personality theory to infer attributes from a person's unstructured text.">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
  <link rel="icon" href="/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!-- top level heading -->
  <header class="_demo--heading">
    <div class="_demo--container">
      <a class="wordmark" href="http://www.ibm.com/watson/developer/">
        <span class="wordmark--left">St. Vrain</span>
        <span class="wordmark--right"> Innovation Center</span>
      </a>
    </div>
  </header>
  <div class="_demo--banner">
    <div class="_demo--container">
      <div class="banner--service-icon-container">
        <img class="banner--service-icon" src="https://www.vmcdn.ca/f/files/longmontleader/import/2018_09_innovation-center.png;w=960" alt="Personality Insights API Icon" style="width:149px;height:130px;">
      </div>
      <div class="banner--service-info">
        <h1 class="banner--service-title base--h1">
          <img class="banner--service-icon_INLINE" src="images/service-icon.svg" alt="Personality Insights API Icon"> SeniorCitizensConnect
        </h1>
        <div class="banner--service-description">
          Our main goal is to connect senior citizens with students from all grades.  We can take advantage of this situation to establish a stronger connection and understanding between generations.
          </div>
        </div>
        <div class="banner--service-resource">
        </div>
        <div class="banner--service-links"></div>
          
        </div>
      </div>
    </div>
  </div>
